[Unit]
Description=P1 port to InfluxDB Daemon
After=network-online.target

[Service]
User=p1monitor
Group=p1monitor
Type=notify
ExecStart=/usr/lib/p1monitor/P1Monitor

[Install]
WantedBy=multi-user.target
